.gamestat {

    display: flex;
    gap: 9px;
}
.FMB {
    display: flex;
}
.MB {
    margin: 15px;
}
.RB {
    margin: 15px;
}

body {
    user-select: none;
    -webkit-user-drag: none;
}
.all {
    gap: 23px;
    display: flex;
}
